<div class="container-fluid">
			<div class="row" style="padding:1px;">
				<div class="col-md-9 text-nowrap"></div>
				<div class="col-md-1 text-nowrap">
					<a href="#" style="padding-right:1px; text-decoration:underline; color:black;">Sign In/Register</a>&nbsp;|&nbsp;
					<a href="#" style="padding-left:1px; text-decoration:underline; color:black;">Store Locator</a>
				</div>
				<div class="col-md-2"><SELECT name="site_lang" style="float:right; width:100px; padding-left:1px;">
					<OPTION selected value="en-US">US English</OPTION>
					<OPTION value="es-US">US Spanish</OPTION>
				</SELECT></div>
			</div>
			<div class="row" style="padding:5px 1px 5px 1px;">
				<div class="col-md-8"></div>
				<div class="col-md-4 text-nowrap" style="float:right;padding:2 px 15px 2px 0px;">
					<span class="bg-info" style="float:right; padding:0 5px 0 15px;">Products/ Spare Parts/ Info <button type="button" href="#">></button></span>
				</div>
			</div>
			<div class="row bg-info" style="padding:1px;">
				<div class="col-md-8">
					<div class="btn-group">
						<button type="button" class="btn btn-primary">Product Catalog</button>
						<button type="button" class="btn btn-primary">Parts Catalog</button>
						<button type="button" class="btn btn-primary">Sales Support</button>
					</div>
				</div>
				<div class="col-md-4">
					<button type="button" class="btn btn-info" style="float:right;">Site Help</button>
				</div>
			</div>
			<div class="row" style="padding:1px;">
				<div class="col-md-8"></div>
				<div class="col-md-4 text-nowrap" style="float:right;padding:2 px 15px 2px 0px;">
					<span style="float:right; padding:1px 15px 1px 15px;">Active Cart: &lt;cart name&gt;<span class="glyphicon glyphicon-shopping-cart"></span></span>
				</div>
			</div>
		</div>